<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container mt-5">
	<div class="card bg-light">
	<article class="card-body mx-auto" style="max-width: 600px;">
		<h4 class="card-title mt-3 text-center">Create Account</h4>
		<p class="text-center">Get started with your free account</p>
		<form [formGroup]="registerForm">
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				</div>
				<input name="" class="form-control" formControlName="userName" placeholder="Full name" type="text">
			</div> <!-- form-group// -->
			<div class="d-flex">
				<div class="form-group input-group mr-2">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					<input name="" class="form-control" formControlName="email" placeholder="Email address" type="email">
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
					</div>
					<input name="" class="form-control" formControlName="phoneNumber" placeholder="Phone number" type="text">
				</div> <!-- form-group// -->
			</div>
		
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" formControlName="password" placeholder="Create password" type="password">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" formControlName="rePassword" placeholder="Repeat password" type="password">
			</div> <!-- form-group// -->                                      
			<div
				*ngIf="error"
				class="text-danger">
				{{ error }}
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block" (click)="createAccount()"> Create Account  </button>
			</div> <!-- form-group// -->      
			<p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>                                                                 
		</form>
	</article>
	</div> <!-- card.// -->

	<hr>
</div> 
<!--container end.//-->