<div class="d-flex flex-row justify-content-between mt-5">
    <h5 class="card-title">All questions</h5>
    <a href="#" class="btn btn-primary">Ask Question</a>
</div>
<div class="media mb-5" *ngFor="let question of questions">
    <img class="mr-3" style="width: 60px; height: 60px; border-radius: 50%;" [src]="question.userPic" alt="Generic placeholder image">
    <div class="media-body" style="width: 100px;">
        <h6 class="mt-0 mb-1">{{question.title}}</h6>
        <p style="font-size: 12px;">{{question.content}}</p>
    </div>
</div>
