<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container mt-5">
	<div class="card bg-light">
	<article class="card-body mx-auto" style="max-width: 600px;">
		<h4 class="card-title mt-3 text-center">Login</h4>
		<form [formGroup]="loginForm">
            <div
                *ngIf="error"
                class="text-danger">
                {{ error }}
            </div>
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				</div>
				<input name="" class="form-control" placeholder="Email" formControlName="email" type="email">
			</div> <!-- form-group// -->
		
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" placeholder="Password" formControlName="password" type="password">
			</div> <!-- form-group// -->                               
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block" (click)="login()"> Login  </button>
			</div> <!-- form-group// -->      
			<p class="text-center">Not have a account yet? <a routerLink="/register">Register Now</a> </p>                                                                 
		</form>
	</article>
	</div> <!-- card.// -->

	<hr>
</div> 
<!--container end.//-->