<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>{{dataService.user.userName}}</h4>
                  <p class="text-secondary mb-1">{{dataService.user.email}}</p>
                  <p class="text-muted font-size-sm">{{dataService.user.phoneNumber}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{dataService.user.userName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{dataService.user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{dataService.user.phoneNumber}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" *ngIf="!isChangePw" (click)="changePassword()">Change Password</a>
                <h5 class="mb-0" *ngIf="isChangePw">Change Password</h5>
              </div>
            </div>
            <div *ngIf="isChangePw" [formGroup]="pwForm">
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Old Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" class="form-control" formControlName="oldPw" placeholder="Old Password">
                  <div
                    *ngIf="error"
                    class="text-danger">
                    {{ error }}
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">New Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" class="form-control" formControlName="newPw" placeholder="New Password">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info" *ngIf="isChangePw" (click)="submitChange()">Submit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>